<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>11</string>
					<key>EndingLineNumber</key>
					<string>130</string>
					<key>LocationEncoding</key>
					<string>1</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>116</string>
					<key>Timestamp</key>
					<string>710062059.950792</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Developer/wip/Prep/Prep/Views/Log/DayView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        logger.debug("Fetching meals...")
//        let meals = fetchMeals(on: date, context: context)
//        self.meals = meals
//        logger.debug("... fetched \(meals.count) meals")
//        
//        Task.detached {
//            /// Doing this crashes if we then try to add a meal, getting the following error:
//            /// "The model configuration used to open the store is incompatible with the one that was used to create the store."
//            ///
////            let meals = try await FetchMealStore.shared.meals(date: date)
////            await MainActor.run {
////                self.meals = meals
////                logger.debug("... fetched \(meals.count) meals")
////            }
//        }</string>
				<key>leading</key>
				<string>
    func appeared() {
//</string>
				<key>trailing</key>
				<string>
    }
    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>15</string>
					<key>EndingLineNumber</key>
					<string>121</string>
					<key>LocationEncoding</key>
					<string>1</string>
					<key>StartingColumnNumber</key>
					<string>10</string>
					<key>StartingLineNumber</key>
					<string>121</string>
					<key>Timestamp</key>
					<string>710062285.438108</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Developer/wip/Prep/Prep/Views/MealItemForm/ItemForm.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>guard</string>
				<key>leading</key>
				<string>    
    func tappedSave() {
//        </string>
				<key>trailing</key>
				<string> let mealID = meal?.id, let food else { return }
//        
//        Haptics.successFeedback()
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>9</string>
					<key>EndingLineNumber</key>
					<string>31</string>
					<key>LocationEncoding</key>
					<string>1</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>18</string>
					<key>Timestamp</key>
					<string>710062298.974228</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Developer/wip/Prep/Prep/Views/Log/FoodPickerModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//        task?.cancel()
//        task = Task {
//            do {
//                let recents = try await SearchStore.shared.recents()
//                try Task.checkCancellation()
//                logger.debug("Setting \(recents.count) recents")
//                await MainActor.run {
//                    self.foodResults = recents
//                }
//                
//            } catch {
//                logger.debug("Error during recents fetch: \(error, privacy: .public)")
//            }
//        }</string>
				<key>leading</key>
				<string>    
    func fetchRecents() {
</string>
				<key>trailing</key>
				<string>
    }
    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>11</string>
					<key>EndingLineNumber</key>
					<string>52</string>
					<key>LocationEncoding</key>
					<string>1</string>
					<key>StartingColumnNumber</key>
					<string>2</string>
					<key>StartingLineNumber</key>
					<string>39</string>
					<key>Timestamp</key>
					<string>710062309.124279</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Developer/wip/Prep/Prep/Views/Log/FoodPickerModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        task?.cancel()
//        task = Task {
//            do {
//                let results = try await SearchStore.shared.search(text)
//                try Task.checkCancellation()
//                logger.debug("Setting \(results.count) results")
//                await MainActor.run {
//                    self.foodResults = results
//                }
//                
//            } catch {
//                logger.debug("Error during search: \(error, privacy: .public)")
//            }
//        }</string>
				<key>leading</key>
				<string>    
    func search(_ text: String) {
//</string>
				<key>trailing</key>
				<string>
    }
}
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>60</string>
					<key>StartingLineNumber</key>
					<string>60</string>
					<key>Timestamp</key>
					<string>710106244.183187</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Views/ItemForm2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//        let descriptor = FetchDescriptor&lt;FoodEntity&gt;(predicate: #Predicate {
</string>
				<key>leading</key>
				<string>        //TODO: Store the last used quantity in the Food itself to save ourselves a fetch
//        guard let foodResult else { return }
</string>
				<key>trailing</key>
				<string>//            $0.uuid == foodResult.uuid
//        })
//        do {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>103</string>
					<key>StartingLineNumber</key>
					<string>103</string>
					<key>Timestamp</key>
					<string>710106244.183329</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Views/ItemForm2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//        guard
</string>
				<key>leading</key>
				<string>    var scaleFactor: Double {
        0
</string>
				<key>trailing</key>
				<string>//            let food,
//            let quantity = food.quantity(for: foodValue)
//        else { return 0 }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>128</string>
					<key>StartingLineNumber</key>
					<string>128</string>
					<key>Timestamp</key>
					<string>710106244.183502</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Views/ItemForm2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//        if let foodItem {
</string>
				<key>leading</key>
				<string>//        dismiss()
        
</string>
				<key>trailing</key>
				<string>//            /// Update
//        } else {
//            
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>209</string>
					<key>StartingLineNumber</key>
					<string>209</string>
					<key>Timestamp</key>
					<string>710106244.183387</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Views/ItemForm2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//            return ""
</string>
				<key>leading</key>
				<string>        ""
//        guard let nutrientValue = food?.value(for: nutrient) else {
</string>
				<key>trailing</key>
				<string>//        }
//        let scaled = nutrientValue.value * scaleFactor
//        return "\(scaled.cleanAmount) \(nutrientValue.unit.abbreviation)"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>264</string>
					<key>StartingLineNumber</key>
					<string>264</string>
					<key>Timestamp</key>
					<string>710106244.1832629</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Views/ItemForm2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//                            .bold(food?.primaryMacro == nutrient.macro)
</string>
				<key>leading</key>
				<string>//                            .foregroundStyle(Color(.secondaryLabel))
                            .foregroundColor(nutrient.macro!.textColor(for: colorScheme))
</string>
				<key>trailing</key>
				<string>                    }
                }
            }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>369</string>
					<key>StartingLineNumber</key>
					<string>369</string>
					<key>Timestamp</key>
					<string>710106244.1829669</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Views/ItemForm2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//            if let sizes = food?.formSizes, !sizes.isEmpty {
</string>
				<key>leading</key>
				<string>        var sizesSections: some View {
            EmptyView()
</string>
				<key>trailing</key>
				<string>//                Section("Sizes") {
//                    sizesContent(sizes)
//                }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>421</string>
					<key>StartingLineNumber</key>
					<string>421</string>
					<key>Timestamp</key>
					<string>710106244.183555</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Views/ItemForm2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//            if food?.canBeMeasuredInVolume == true {
</string>
				<key>leading</key>
				<string>        var volumesMenu: some View {
            EmptyView()
</string>
				<key>trailing</key>
				<string>//                Menu {
//                    volumesContent
//                } label: {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>390</string>
					<key>StartingLineNumber</key>
					<string>390</string>
					<key>Timestamp</key>
					<string>710106244.183444</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Views/ItemForm2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//            if food?.canBeMeasuredInWeight == true {
</string>
				<key>leading</key>
				<string>        var weightsMenu: some View {
            EmptyView()
</string>
				<key>trailing</key>
				<string>//                Menu {
//                    weightsContent
//                } label: {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>433</string>
					<key>StartingLineNumber</key>
					<string>433</string>
					<key>Timestamp</key>
					<string>710106244.1837879</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Views/ItemForm2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//            if let food {
</string>
				<key>leading</key>
				<string>        var menuContents: some View {
            EmptyView()
</string>
				<key>trailing</key>
				<string>//                if food.onlySupportsWeights {
//                    weightsContent
//                } else if food.onlySupportsVolumes {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>12</string>
					<key>StartingLineNumber</key>
					<string>12</string>
					<key>Timestamp</key>
					<string>710112521.857185</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Backend/Models/FoodItem2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string></string>
				<key>trailing</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>77</string>
					<key>StartingLineNumber</key>
					<string>77</string>
					<key>Timestamp</key>
					<string>710113723.817555</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Backend/Entities/FoodEntity2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    }
</string>
				<key>leading</key>
				<string>        self.init(context: context)
        fill(legacy, lastFoodItem)
</string>
				<key>trailing</key>
				<string>    
    func fill(_ legacy: LegacyUserFood, _ lastFoodItem: LegacyFoodItem?) {
        self.id = UUID(uuidString: legacy.id)!
</string>
			</dict>
			<key>title</key>
			<string>Add dataset food id</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>116</string>
					<key>StartingLineNumber</key>
					<string>116</string>
					<key>Timestamp</key>
					<string>710114148.884465</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Backend/Entities/FoodEntity2.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    
</string>
				<key>leading</key>
				<string>        self.createdAt = Date(timeIntervalSince1970: legacy.updatedAt)
    }
</string>
				<key>trailing</key>
				<string>    convenience init(
        _ context: NSManagedObjectContext,
        _ legacy: LegacyUserFood,
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>23</string>
					<key>StartingLineNumber</key>
					<string>23</string>
					<key>Timestamp</key>
					<string>710114470.115568</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Backend/Models/FoodItem.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    let createdAt: Date
</string>
				<key>leading</key>
				<string>    var eatenAt: Date?
    var updatedAt: Date
</string>
				<key>trailing</key>
				<string>    
    init(
        id: UUID,
</string>
			</dict>
			<key>title</key>
			<string>Store energy, carb, etc totals here so we don't have to keep recalculating when displaying</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>32</string>
					<key>StartingLineNumber</key>
					<string>32</string>
					<key>Timestamp</key>
					<string>710112779.585165</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Prep/Backend/Models/Food.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var dataset: FoodDataset?
</string>
				<key>leading</key>
				<string>    let type: FoodType
    var publishStatus: PublishStatus?
</string>
				<key>trailing</key>
				<string>    
    var lastUsedAt: Date?
    var lastAmount: FoodValue?
</string>
			</dict>
			<key>title</key>
			<string>Add datasetID</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
